$primary-color: #AF3134;
// $secondary-color: #F4AA61;
$secondary-color: #F5C03C;
$terciary-color: #2B5E95;
$color-blue-light: #B8E4ED;
$color-white: #FFFFFF;
$color-green: #2B5A4A;
$color-brown: #6F544D;