.video {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    height: 500px;

    @media screen and(max-width: 576px) {
        height: auto;
        padding: 3rem 0;
    }

    .row {
        @media screen and(max-width: 576px) {
            flex-direction: column-reverse;
            flex-wrap: nowrap;
        }
    }

    &__desc {
        height: 100%;
        padding-right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and(max-width: 576px) {
            margin-bottom: 3rem;
            padding-right: 0;
            display: block;
        }

        p {
            font-size: 1.25rem;
        }

        a {
            margin-top: 1rem;
            width: fit-content;

            &:hover {
                text-decoration: none;

            }
        }
    }

    div {

        video,
        .react-player__preview {
            border-radius: 0.5rem;
        }
    }

    .col-md-7 {
        @media screen and(max-width: 576px) {
            min-height: 20rem;
        }

        @media screen and(max-width: 380px) {
            min-height: 15rem;
        }
    }
}